<div class="media">
  <div class="media-body">
    <div class="row">
      <div class="col-md-8">
        <h4 class="media-heading">
          <%= (markdown comment.body) %>
        </h4>
        <small> 
          <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %> submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name%>
        </small>  
      </div>  
    </div>
  </div> 
</div>     