/* line 1, /Users/chuanhe/Desktop/Study/Rails/bloccit/app/assets/stylesheets/tags.css.scss */
.css1 {
  font-size: 1.0em;
}

/* line 2, /Users/chuanhe/Desktop/Study/Rails/bloccit/app/assets/stylesheets/tags.css.scss */
.css2 {
  font-size: 1.2em;
}

/* line 3, /Users/chuanhe/Desktop/Study/Rails/bloccit/app/assets/stylesheets/tags.css.scss */
.css3 {
  font-size: 1.4em;
}

/* line 4, /Users/chuanhe/Desktop/Study/Rails/bloccit/app/assets/stylesheets/tags.css.scss */
.css4 {
  font-size: 1.6em;
}
