<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>用户排行榜</h1>
      <p class="lead">快来看看有哪些志同道合的人吧！</p>
      <%= render partial: 'users/user', collection: @users %>
      <%= will_paginate @users %>
    </div>
  </div>
</div>  