<br/>
<div id="welcome">
  <div class="jumbotron">
    <h1>电视剧服装论坛</h1>
    <p>看电视，学穿衣!</p>
    <p>
        <%= link_to "登陆", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "注册", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  </div>
</div>  


<div class="row">
  <% @topics.each do |topic| %>
    <% @carousels = topic.posts.top_ten(current_user) %>
    <div id="topic" class="col-xs-12 col-lg-6">
      <h2>
        <%= link_to topic.name, topic %>
      </h2>

      <div class="multiple-items">
          <%= render partial: 'posts/carousel', collection: @carousels, as: :post, locals: {topic: topic}%>
      </div>
      <div class="well">
        <p>热门剧集：</p>  
        <!--TODO: Add tags-->
      </div>
    </div>
  <% end %>
</div>

