<div class="row">
  <div class="col-md-8">
    <h1>近期热贴排行</h1>
    <p class="lead">看看大家都在讨论什么？</p>
    <%= render @posts %>
    <%= will_paginate @posts %>
  </div>
  <div class="col-md-4">
  </div>
</div>